ClientSide/Connected Services/RandomizerService/RandomizerService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RandomizerService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:57196/RandomizerService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:57196/RandomizerService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:57196/RandomizerService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DBModels" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRandomizerService_AddUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AddUser" />
  </wsdl:message>
  <wsdl:message name="IRandomizerService_AddUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddUserResponse" />
  </wsdl:message>
  <wsdl:message name="IRandomizerService_GetAllUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsers" />
  </wsdl:message>
  <wsdl:message name="IRandomizerService_GetAllUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IRandomizerService_AddRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:AddRequest" />
  </wsdl:message>
  <wsdl:message name="IRandomizerService_AddRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddRequestResponse" />
  </wsdl:message>
  <wsdl:message name="IRandomizerService_GetAllRequests_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllRequests" />
  </wsdl:message>
  <wsdl:message name="IRandomizerService_GetAllRequests_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllRequestsResponse" />
  </wsdl:message>
  <wsdl:portType name="IRandomizerService">
    <wsdl:operation name="AddUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IRandomizerService/AddUser" message="tns:IRandomizerService_AddUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRandomizerService/AddUserResponse" message="tns:IRandomizerService_AddUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IRandomizerService/GetAllUsers" message="tns:IRandomizerService_GetAllUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRandomizerService/GetAllUsersResponse" message="tns:IRandomizerService_GetAllUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/IRandomizerService/AddRequest" message="tns:IRandomizerService_AddRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRandomizerService/AddRequestResponse" message="tns:IRandomizerService_AddRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllRequests">
      <wsdl:input wsaw:Action="http://tempuri.org/IRandomizerService/GetAllRequests" message="tns:IRandomizerService_GetAllRequests_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRandomizerService/GetAllRequestsResponse" message="tns:IRandomizerService_GetAllRequests_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRandomizerService" type="tns:IRandomizerService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddUser">
      <soap:operation soapAction="http://tempuri.org/IRandomizerService/AddUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllUsers">
      <soap:operation soapAction="http://tempuri.org/IRandomizerService/GetAllUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddRequest">
      <soap:operation soapAction="http://tempuri.org/IRandomizerService/AddRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllRequests">
      <soap:operation soapAction="http://tempuri.org/IRandomizerService/GetAllRequests" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RandomizerService">
    <wsdl:port name="BasicHttpBinding_IRandomizerService" binding="tns:BasicHttpBinding_IRandomizerService">
      <soap:address location="http://localhost:57196/RandomizerService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>